* {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
/*  background-color: #0C0B0A; */
}

/* .imgtext{
  background-image: url('../public/images/index2.png');
  background-size: 'cover';
  position: 'relative';
} */